



#homePai{
   
}

#homeEsquerda{
    float:left;
    position:static;
    background-color:aliceblue;
}

#homeDireita{
    margin-top: 15%;
    position:static;
   float:right;
    background-color:gray;
    
}
