
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            NOME DO PROGRAMA
            <small>texto menor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> LOCAL</a></li>
            <li class="active">NOME DA PAGINA QUE ESTA</li>
        </ol>
    </section>
    <section class="content">

        <!-- Principal -->
        <div class="box box-solid">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mudando essa area muda o conteudo do site -->
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>CONTEUDO DA PAGINA</h4>
                        <span class="text-muted">Não existem consultas marcadas para hoje!</span>
                        <!-- Mudando essa area muda o conteudo do site -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>