@model IEnumerable<iilic.Core.CaracterisTica>


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            NOME DO PROGRAMA
            <small>texto menor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> LOCAL</a></li>
            <li class="active">Sintomas da doença</li>
        </ol>
    </section>
    <section class="content">

        <!-- Principal -->
        <div class="box box-solid">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mudando essa area muda o conteudo do site -->

                        <a class="btn btn-success btn-lg" href="Criar" aria-label="Adicionar">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Doenças</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Caracteristicas da doença</th>


                                            </tr>
                                            @foreach (var d in Model)
                                            {
                                                <tr>
                                                    <td>@d.nomeCaracteristica</td>
                                                   

                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </div>
                                <!-- Mudando essa area muda o conteudo do site -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>