<div class="content-wrapper">
    <section class="content-header">
        <h1>
            NOME DO PROGRAMA
            <small>texto menor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> LOCAL</a></li>
            <li class="active">Pergunta</li>
        </ol>
    </section>
    <section class="content">

        <!-- Principal -->
        <div class="box box-solid">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mudando essa area muda o conteudo do site -->
                        <form action="~/Relaciona/Pergunta" method="Post">
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="col-lg-12">
                                        <h2>Gostaria de adicionar mais aspectos?</h2>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <button class="btn btn-success form-group" type="submit" value="1" name="pId">Sim</button>

                                    </div>


                                    <div class="form-group  col-lg-4">
                                        <a class="btn btn-danger form-group" href="~/Terapeuta/IndexTerapeuta">Não</a>                          
                                </div>
                            </div>
                        </form>
                        <!-- Mudando essa area muda o conteudo do site -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>