
@{
    ViewBag.Title = "_LayoutIndexTer";
}

<h2>_LayoutIndexTer</h2>


@{
    ViewBag.Title = "IndexADM";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Area do Administrador</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/css/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/css/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="form-group">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="color:white" class="navbar-brand" href="#">IILIC</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a style="color:white" href="#">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--  <div class="section">
         <div class="row">
             <div >
                 <div class="col-sm-3 col-lg-2 sidebar" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                     <div style="background-color:dodgerblue" id="sidenav">
                         <ul class="nav nav-sidebar">
                             <li class="active">
                                 <a href="#" style="color:black">Overview <span class="sr-only">(current)</span></a>
                             </li>
                             <li>
                                 <a href="#">Reports</a>
                             </li>
                             <li>
                                 <a href="#">Analytics</a>
                             </li>
                             <li>
                                 <a href="#">Export</a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 </div>-->
    
        <!--    <div id="sidebar-collapse" class="col-sm-3 col-lg-2" style="background-color:dodgerblue; height:750px; margin-top:35px;">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                        <ul class="nav menu" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">

                            <li class="active">
                                <a style="color:black" href="Criar">Perfil <span class="sr-only">(current)</span></a>
                            </li>

                            <li>
                                <a style="color:black" href="~/Terapeuta/IndexTer">Terapeutas</a>
                            </li>
                            <li>
                                <a style="color:black" onclick="IndexTer.html">Analytics</a>
                            </li>
                            <li>
                                <a style="color:black" href="#">Export</a>
                            </li>
                        </ul>
                    </div>
        </div>-->



        <div class="row">
            <div>
                <div class="col-sm-3 col-lg-2 sidebar" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ">
                    <ul class="nav nav-sidebar" style="background-color:#848484;height:750px;">
                        <li class="active"><a style="color:black" href="Criar">Perfil <span class="sr-only">(current)</span></a></li>
                        <li><a style="color:black" href="~/Terapeuta/IndexTer">Terapeutas</a></li>
                        <li><a style="color:black" href="#">Analytics</a></li>
                        <li><a style="color:black" href="#">Export</a></li>
                    </ul>

                </div>
            </div>
            <!--<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
                <div class="col-sm-3 col-lg-2 sidebar" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                    <div class="col-sm-4 col-md-2 sidebar" style="background-color:dodgerblue" id="sidenav">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a style="color:black" href="~/Administrador/Criar">Perfil <span class="sr-only">(current)</span></a></li>
                            <li><a style="color:black " href="~/Terapeuta/IndexTer" target="_self">Terapeutas</a></li>
                            <li><a style="color:black" href="#">Analytics</a></li>
                            <li><a style="color:black" href="#">Export</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <!-- <div class="col-lg-12">
                        <div id="sidebar-collapse" class="col-lg-2" style="background-color:dodgerblue; height:750px; margin-left:0px;">
                            <ul class="nav menu">
                                <br />
                                <br />
                                <br />
                                <li class="active"><a style="color:black" href="Criar">Perfil <span class="sr-only">(current)</span></a></li>
                                <!--SNCORA
                                <li><a style="color:black" href="~/Terapeuta/IndexTer">Terapeutas</a></li>
                                <li><a style="color:black" onclick="IndexTer.html">Analytics</a></li>
                                <li><a style="color:black" href="#">Export</a></li>
                            </ul>
                        </div>
            -->

            <div class="col-lg-10">
                <div id="centro" class="col-lg-12">
                    <br />
                    @RenderBody()
                </div>
            </div>
        </div>

</body>
</html>