@model iilic.Core.Login
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <link href="~/App_Theme/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-control">
        <div class="form-group text-right">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand" style="color:white" href="#">IILIC</a>
                        <ul class="nav navbar-nav">
                            <li><a href="#" style="color:white">Sobre</a></li>
                            <li><a href="~/Login/CriarLogin/" style="color:white">Criar Login</a></li>
                            <!--class="homeDireita"--

                            <a href="@Url.Action(" Login", "CriarLog" , "CriarLogin" )">Criar login</a>
                            <a href="~/Login/CriarLogin/">AQUI</a> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="form-group">
            <div class="container">
                
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>