
@{
    ViewBag.Title = "CriarLogin";
}


  <div style="padding-top:120px">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 ">
            <div class="login-panel panel panel-info">
                <div class="panel-heading" style="font-size:medium">Digite seu login</div>
                <div class="panel-body">
                    <form action="Autentica" method="post">
                        <fieldset>
                            <div class="form-group">
                                <div class="form-group">

                                    <il>
                                        <label><input type="radio" name="valorLog" checked="true" value="1">Administrador</label>
                                        <label><input type="radio" name="valorLog" value="2">Terapeuta</label>
                                    </il>
                                </div>
                                <div class="col-md-20">
                                    <input placeholder="Digite sua credencial" name="login" class="form-control input-md" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-20">
                                    <input placeholder="Digite sua senha" name="senha" class="form-control input-md" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="padding-left:300px">
                                    <button type="submit" class="btn btn-primary btn-lg" aria-label="Salvar">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>
                                    </button>

                                </div>
                            </div>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>