@model iilic.Core.Login

<script type="text/javascript">
   $(function(){
      $(".close").click(function(){
         $("#myAlert").alert('close');
      });
   });
</script>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
          rel="stylesheet" type="text/css">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Imagem/psico2.jpg"
                         class="hidden-sm hidden-xs img-responsive">
                </div>
                <div class="col-md-6">
                    @if (@ViewBag.errouLogin != null)
                    {
                        <div id="myAlert" class="alert alert-warning alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3>@ViewBag.errouLogin</h3>
                        </div>
                    }
                    <form action="~/Login/Autentica" method="post" role="form" class="text-center">
                        <div class="form-group">
                            <div class="form-group">
                                <il>
                                    <label>
                                        <input type="radio" name="valorLog" value="1" class="form-group-lg" required>Administrador
                                    </label>
                                    <label>
                                        <input type="radio" name="valorLog" value="2" class="form-group-lg" required>Terapeuta
                                    </label>
                                </il>
                            </div>
                            <label class="control-label" for="exampleInputEmail1">Login</label>
                            <input class="form-control input-md" id="exampleInputEmail1"
                                   placeholder="Digite o seu login" type="text" name="login" required>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="exampleInputPassword1">Senha</label>
                            <input class="form-control input-md" id="exampleInputPassword1"
                                   placeholder="Digite a sua senha" type="password" name="senha" required>
                        </div>
                        <button type="submit" class="btn btn-block btn-md btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-right navbar-fixed-bottom" style="background-color:#1C1C1C">
        <div class="container">
            <div class="row">
                <div class="pull-right hidden-xs" style="color:white">
                    <b>Version</b> 1.0.0
                </div>
                <div style="color:white"><strong>Copyright &copy; 2016<a href="#">Fernanda</a>.</strong> Todos os direitos reservados</div>
                
                <div class="control-sidebar-bg"></div>
            </div>
            </div>


        
    </nav>

</body>

</html>